//themes
$primary: #44a66a;
$secondary: #0fd77d;
$error: #de4e27;
$info: rgb(0, 142, 167);

//colors
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "red": red,
    "orange": orange,
    "yellow": yellow,
    "green": green,
    "blue": blue,
    "indigo": indigo,
    "violet": violet,
    "black": black,
    "white": white,
    "brown": brown
);

//spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

//borders
$base-border-thickness: px;
$base-border-radius: 12px;

//box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

$base-font-size: 1rem;
$font-size-xs: $base-font-size * .5;
$font-size-sm: $base-font-size * .75;
$font-size-lg: $base-font-size * 1.5;
$font-size-xl: $base-font-size * 2;
